{% extends 'elearn/base.html' %}
{% block title %} {{ video.titre }} {% endblock %}
{% block content %}
    <div class="ui grid" style="padding-top: 80px; background: white">
        <div class="four wide column" style="text-align:center">
           <a href="{% url 'cours' cours.id %}">
               Accueil du cours
           </a>
        </div>
        <div class="twelve wide column" style="text-align: center">
            <h1>{{ video.titre }}</h1>
        </div><br />
    </div>
    <div class="ui grid">
        <div class="one wide column"></div>
        <div class="four wide column">
            <h3>{{ semaine.titre }}</h3>
            <div class="ui vertical menu" style="width:100%">
                    {% for video in videos %}
                        <a class="item" href="{% url 'coursMainVid' cours.id semaine.id video.id %}">{{ video.titre }}</a>
                    {% endfor %}

                    {% for lecture in lectures %}
                        <a class="item" href="#">{{ lecture.titre }}</a>
                    {% endfor %}
        </div><br />
        </div>
        <div class="ten wide column" style="text-align: center">
            {{ video.htmlCode | safe }}
            <br /><br />
            <button class="ui primary button">
                Marquer comme vu
            </button>
        </div>

    </div>
{% endblock %}